<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

  <turboFilter class="ch.qos.logback.classic.turbo.MDCFilter">
    <MDCKey>INFO</MDCKey>
    <Value>1</Value>
    <OnMatch>ACCEPT</OnMatch>
  </turboFilter>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%class{16} %line] %X{RID} %X{UID} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>